
#first {
    background-image: url("/assets/kh1.png");
    min-height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#second {
    background-image: url("/assets/kh2.png");
    min-height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#third {
    background-image: url("/assets/kh3.png");
    min-height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fourth {
    background-image: url("/assets/kh4.png");
    min-height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fifth {
    background-image: url("/assets/kh5.png");
    min-height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sixth {
    background-image: url("/assets/kh6.png");
    min-height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#seventh {
    background-image: url("/assets/kh7.png");
    min-height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#eighth {
    background-image: url("/assets/kh8.png");
    min-height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#ninth {
    background-image: url("/assets/kh9.png");
    min-height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tenth {
    background-image: url("/assets/kh10.png");
    min-height: 1500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}